@font-face {
    font-family: 'LineIcons';
    src: url('LineIcons.eot?uxxgq6');
    src: url('LineIcons.eot?uxxgq6#iefix') format('embedded-opentype'),
        url('LineIcons.ttf?uxxgq6') format('truetype'),
        url('LineIcons.woff?uxxgq6') format('woff'),
        url('LineIcons.svg?uxxgq6#LineIcons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.line-icons {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;
    font-family: 'LineIcons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    vertical-align: middle;
    position: relative;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.line-icons:before {
    content: "";
    display: inline-block;
    width: inherit;
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
    font-size: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.line-icons.size-10 { width: 10px; height: 10px; line-height: 10px; font-size: 10px; }
.line-icons.size-12 { width: 12px; height: 12px; line-height: 12px; font-size: 12px; }
.line-icons.size-14 { width: 14px; height: 14px; line-height: 14px; font-size: 14px; }
.line-icons.size-16 { width: 16px; height: 16px; line-height: 16px; font-size: 16px; }
.line-icons.size-20 { width: 20px; height: 20px; line-height: 20px; font-size: 20px; }
.line-icons.size-24 { width: 24px; height: 24px; line-height: 24px; font-size: 24px; }
.line-icons.size-28 { width: 28px; height: 28px; line-height: 28px; font-size: 28px; }
.line-icons.size-30 { width: 30px; height: 30px; line-height: 30px; font-size: 30px; }
.line-icons.size-32 { width: 32px; height: 32px; line-height: 32px; font-size: 32px; }
.line-icons.size-36 { width: 36px; height: 36px; line-height: 36px; font-size: 36px; }
.line-icons.size-40 { width: 40px; height: 40px; line-height: 40px; font-size: 40px; }
.line-icons.size-48 { width: 48px; height: 48px; line-height: 48px; font-size: 48px; }
.line-icons.size-60 { width: 60px; height: 60px; line-height: 60px; font-size: 60px; }


.line-icons.search-battery:before {
    content: "\e9ca";
}
.line-icons.write-off:before {
    content: "\e9c9";
}
.line-icons.wheel-inv:before {
    content: "\e9c8";
}
.line-icons.write-inv:before {
    content: "\e9c7";
}
.line-icons.service-engine-oil-filter:before {
    content: "\e9c6";
}
.line-icons.service-washer:before {
    content: "\e9c5";
}
.line-icons.history:before {
    content: "\e9c4";
}
.line-icons.amt-symbol:before {
    content: "\e9c1";
}
.line-icons.coupon-type1:before {
    content: "\e9c2";
}
.line-icons.coupon-type2:before {
    content: "\e9c3";
}
.line-icons.add-circle-inv:before {
    content: "\e9bd";
}
.line-icons.chev-right-circle-inv:before {
    content: "\e9be";
}
.line-icons.enter-circle-inv:before {
    content: "\e9bf";
}
.line-icons.equal-circle-inv:before {
    content: "\e9c0";
}
.line-icons.location-map:before {
    content: "\e9bc";
}
.line-icons.invisible:before {
    content: "\e9bb";
}
.line-icons.menu-more:before {
    content: "\e9ba";
}
.line-icons.thumbup:before {
    content: "\e9b8";
}
.line-icons.thumbup-inv:before {
    content: "\e9b9";
}
.line-icons.doc_circle:before {
    content: "\e9b3";
}
.line-icons.pause-inv:before {
    content: "\e9b7";
}
.line-icons.pause:before {
    content: "\e9b4";
}
.line-icons.play-inv:before {
    content: "\e9b6";
}
.line-icons.play:before {
    content: "\e9b5";
}
.line-icons.gas:before {
    content: "\e9af";
}
.line-icons.ride-comfort:before {
    content: "\e9b0";
}
.line-icons.speed:before {
    content: "\e9b1";
}
.line-icons.volume:before {
    content: "\e9b2";
}
.line-icons.convert:before {
    content: "\e9ae";
}
.line-icons.receipt-won:before {
    content: "\e9ad";
}
.line-icons.care-service:before {
    content: "\e9ac";
}
.line-icons.warranty:before {
    content: "\e99f";
}
.line-icons.check-fat:before {
    content: "\e9aa";
}
.line-icons.cs:before {
    content: "\e9a8";
}
.line-icons.notice:before {
    content: "\e9a9";
}
.line-icons.page-404:before {
    content: "\e9a7";
}
.line-icons.warranty-quality:before {
    content: "\e9a2";
}
.line-icons.warranty-cord:before {
    content: "\e9a3";
}
.line-icons.warranty-ease:before {
    content: "\e9a4";
}
.line-icons.warranty-happy30:before {
    content: "\e9a5";
}
.line-icons.warranty-ion:before {
    content: "\e9a6";
}
.line-icons.camera:before {
    content: "\e9a0";
}
.line-icons.picture:before {
    content: "\e9a1";
}
.line-icons.chart:before {
    content: "\e99e";
}

.line-icons.wallet:before {
    content: "\e99f";
}

.line-icons.service-charging:before {
    content: "\e99c";
}

.line-icons.service-ev:before {
    content: "\e99d";
}

.line-icons.search-products:before {
    content: "\e997";
}

.line-icons.car-circle:before {
    content: "\e996";
}

.line-icons.service-tire-punk:before {
    content: "\e995";
}

.line-icons.service-free-inspection:before {
    content: "\e993";
}

.line-icons.service-hometown-deal:before {
    content: "\e994";
}

.line-icons.service-air-conditioning-gas:before {
    content: "\e986";
}

.line-icons.service-car-inspection:before {
    content: "\e987";
}

.line-icons.service-car-lift:before {
    content: "\e988";
}

.line-icons.service-engine-oil-set:before {
    content: "\e989";
}

.line-icons.service-filters:before {
    content: "\e98a";
}

.line-icons.service-maintenance-etc:before {
    content: "\e98b";
}

.line-icons.service-tire-change:before {
    content: "\e98c";
}

.line-icons.service-tire-etc:before {
    content: "\e98d";
}

.line-icons.service-tire-position-change:before {
    content: "\e98e";
}

.line-icons.service-tire-pressure-check:before {
    content: "\e98f";
}

.line-icons.service-wheel-alignment:before {
    content: "\e990";
}

.line-icons.service-wheel-balance:before {
    content: "\e991";
}

.line-icons.service-wiper:before {
    content: "\e992";
}

.line-icons.service-always-waiting:before {
    content: "\e972";
}

.line-icons.service-as-spot:before {
    content: "\e973";
}

.line-icons.service-battery:before {
    content: "\e974";
}

.line-icons.service-blackbox:before {
    content: "\e975";
}

.line-icons.service-brake-pad:before {
    content: "\e976";
}

.line-icons.service-business-trip:before {
    content: "\e977";
}

.line-icons.service-engine-oil:before {
    content: "\e978";
}

.line-icons.service-golf:before {
    content: "\e979";
}

.line-icons.service-goods:before {
    content: "\e97a";
}

.line-icons.service-lite-maintenance:before {
    content: "\e97b";
}

.line-icons.service-maintenance:before {
    content: "\e97c";
}

.line-icons.service-nanum:before {
    content: "\e97d";
}

.line-icons.service-pc:before {
    content: "\e97e";
}

.line-icons.service-run-flat:before {
    content: "\e97f";
}

.line-icons.service-tire-hotel:before {
    content: "\e980";
}

.line-icons.service-tire-offline:before {
    content: "\e981";
}

.line-icons.service-waiting-room:before {
    content: "\e982";
}

.line-icons.service-wash-polish:before {
    content: "\e983";
}

.line-icons.service-wheel:before {
    content: "\e984";
}

.line-icons.service-wifi:before {
    content: "\e985";
}

.line-icons.list:before {
    content: "\e970";
}

.line-icons.map:before {
    content: "\e971";
}

.line-icons.error-circle-inv:before {
    content: "\e96f";
}

.line-icons.car-side-fill:before {
    content: "\e96c";
}

.line-icons.location-fill:before {
    content: "\e96d";
}

.line-icons.payment-fill:before {
    content: "\e96e";
}

.line-icons.coupon-download:before {
    content: "\e96a";
}

.line-icons.coupon-check:before {
    content: "\e96b";
}

.line-icons.bulbs:before {
    content: "\e965";
}

.line-icons.calendar-add:before {
    content: "\e966";
}

.line-icons.info-circle-inv:before {
    content: "\e967";
}

.line-icons.mouse:before {
    content: "\e968";
}

.line-icons.shop-lift:before {
    content: "\e969";
}

.line-icons.restock:before {
    content: "\e964";
}

.line-icons.tire-check:before {
    content: "\e95f";
}

.line-icons.present:before {
    content: "\e960";
}

.line-icons.write:before {
    content: "\e961";
}

.line-icons.lock:before {
    content: "\e962";
}

.line-icons.receipt-cancel:before {
    content: "\e963";
}

.line-icons.arrow-long:before {
    content: "\e95e";
}

.line-icons.coupon-error:before {
    content: "\e95d";
}

.line-icons.social-apple:before {
    content: "\e954";
}

.line-icons.social-fb:before {
    content: "\e955";
}

.line-icons.social-google:before {
    content: "\e956";
}

.line-icons.social-googleplay:before {
    content: "\e957";
}

.line-icons.social-instagram:before {
    content: "\e958";
}

.line-icons.social-kakao:before {
    content: "\e959";
}

.line-icons.social-kakao-channel:before {
    content: "\e95a";
}

.line-icons.social-naver:before {
    content: "\e95b";
}

.line-icons.social-youtube:before {
    content: "\e95c";
}

.line-icons.caution-inv:before {
    content: "\e953";
}

.line-icons.error-circle-light:before {
    content: "\e949";
}

.line-icons.check-circle-light:before {
    content: "\e94a";
}

.line-icons.alignment-light:before {
    content: "\e94b";
}

.line-icons.battery-light:before {
    content: "\e94c";
}

.line-icons.cart-light:before {
    content: "\e94d";
}

.line-icons.engine-oil-light:before {
    content: "\e94e";
}

.line-icons.indoor-filter-light:before {
    content: "\e94f";
}

.line-icons.smart-care-light:before {
    content: "\e950";
}

.line-icons.user-light:before {
    content: "\e951";
}

.line-icons.wiper-light:before {
    content: "\e952";
}

.line-icons.login:before {
    content: "\e947";
}

.line-icons.logout:before {
    content: "\e948";
}

.line-icons.t-membership:before {
    content: "\e946";
}

.line-icons.alignment:before {
    content: "\e940";
}

.line-icons.battery:before {
    content: "\e941";
}

.line-icons.engine-oil:before {
    content: "\e942";
}

.line-icons.indoor-filter:before {
    content: "\e943";
}

.line-icons.tire-light:before {
    content: "\e944";
}

.line-icons.wiper:before {
    content: "\e945";
}

.line-icons.calendar-check:before {
    content: "\e93f";
}

.line-icons.receipt:before {
    content: "\e93e";
}

.line-icons.car-front:before {
    content: "\e93d";
}

.line-icons.alarm:before {
    content: "\e93c";
}

.line-icons.barcode:before {
    content: "\e93b";
}

.line-icons.add:before {
    content: "\e900";
}

.line-icons.add-circle:before {
    content: "\e901";
}

.line-icons.aim:before {
    content: "\e902";
}

.line-icons.arrow-down:before {
    content: "\e903";
}

.line-icons.arrow-left:before {
    content: "\e904";
}

.line-icons.arrow-right:before {
    content: "\e905";
}

.line-icons.arrow-up:before {
    content: "\e906";
}

.line-icons.calendar:before {
    content: "\e907";
}

.line-icons.call:before {
    content: "\e908";
}

.line-icons.car-number:before {
    content: "\e909";
}

.line-icons.car-side:before {
    content: "\e90a";
}

.line-icons.car-side-half:before {
    content: "\e90b";
}

.line-icons.cart:before {
    content: "\e90c";
}

.line-icons.cart-add:before {
    content: "\e90d";
}

.line-icons.caution:before {
    content: "\e90e";
}

.line-icons.check:before {
    content: "\e90f";
}

.line-icons.check-circle:before {
    content: "\e910";
}

.line-icons.check-circle-inv:before {
    content: "\e911";
}

.line-icons.check-small:before {
    content: "\e912";
}

.line-icons.check-square:before {
    content: "\e913";
}

.line-icons.check-square-inv:before {
    content: "\e914";
}

.line-icons.chev-down:before {
    content: "\e915";
}

.line-icons.chev-left:before {
    content: "\e916";
}

.line-icons.chev-right:before {
    content: "\e917";
}

.line-icons.chev-up:before {
    content: "\e918";
}

.line-icons.circle:before {
    content: "\e919";
}

.line-icons.clock:before {
    content: "\e91a";
}

.line-icons.close:before {
    content: "\e91b";
}

.line-icons.close-circle:before {
    content: "\e91c";
}

.line-icons.coupon:before {
    content: "\e91d";
}

.line-icons.download:before {
    content: "\e91e";
}

.line-icons.error-circle:before {
    content: "\e91f";
}

.line-icons.filter:before {
    content: "\e920";
}

.line-icons.headset:before {
    content: "\e921";
}

.line-icons.heart:before {
    content: "\e922";
}

.line-icons.heart-fill:before {
    content: "\e923";
}

.line-icons.help-circle:before {
    content: "\e924";
}

.line-icons.info-circle:before {
    content: "\e925";
}

.line-icons.location:before {
    content: "\e926";
}

.line-icons.mail:before {
    content: "\e927";
}

.line-icons.menu:before {
    content: "\e928";
}

.line-icons.message:before {
    content: "\e929";
}

.line-icons.payment:before {
    content: "\e92a";
}

.line-icons.refresh:before {
    content: "\e92b";
}

.line-icons.remove:before {
    content: "\e92c";
}

.line-icons.remove-circle:before {
    content: "\e92d";
}

.line-icons.search:before {
    content: "\e92e";
}

.line-icons.setting:before {
    content: "\e92f";
}

.line-icons.share:before {
    content: "\e930";
}

.line-icons.shop:before {
    content: "\e931";
}

.line-icons.square:before {
    content: "\e932";
}

.line-icons.star:before {
    content: "\e933";
}

.line-icons.star-half:before {
    content: "\e934";
}

.line-icons.time:before {
    content: "\e935";
}

.line-icons.tire-1:before {
    content: "\e936";
}

.line-icons.tire-2:before {
    content: "\e937";
}

.line-icons.trash:before {
    content: "\e938";
}

.line-icons.user:before {
    content: "\e939";
}

.line-icons.wrench:before {
    content: "\e93a";
}

.line-icons.repair-time:before {
    content: "\e998";
}

.line-icons.cs-fab:before {
    content: "\e999";
}

.line-icons.coupon-sale:before {
    content: "\e99a";
}

.line-icons.icon-pickup:before {
    content: "\e99b";
}